/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$color_letra_encabezado: #fff;

$color11: #02385c;
$color12: #7293aa;
$color13: #01b7e2;

$color21: #deebf1;
$color22: #15bde4;
$color23: #063a5b;
$color24: #5c7d93;
$color25: #3092ba;
$color26: #1c537a;
$color27: #106292;
$color28: #1078a4;

$color31: #003974;
$color32: #08446b;
$color33: #f9fefe;
$color34: #93bfce;
$color35: #1ba8d7;


body {
  background: #fff;
}

.contenedor {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

header {
  height: 100vh;
  //background: linear-gradient(rgba(84, 93, 220, .9), rgba(96, 171, 245, .9)), url('../img/fondo.jpg') left no-repeat;
  background: linear-gradient(rgb(112,175,167), rgb(47,87,113)), url('../img/fondo.jpg') left no-repeat;
}

#contenedor-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: $color_letra_encabezado;
  font-size: 1.5em;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  list-style: none;
  color: $color_letra_encabezado;
}

.contenedor-titulo {
  display: flex;
  justify-content: center;
  margin: 20vh 0;
  text-align: center;
  color: $color_letra_encabezado;
}

.contenedor-titulo h1 {
  font-size: 3em;
  margin: 0;
}

.contenedor-titulo h2 {
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

.contenedor-titulo a, #sobre-mi a {
  font-size: 1em;
  background: #5cb8ff;
  padding: 14px 24px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

// SOBRE MI
h3 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

#sobre-mi .contenedor-sobremi {
  display: flex;
  justify-content: space-around;
}

#sobre-mi .texto {
  width: 45%;
}

// SERVICIOS
.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  .violeta {
    background: linear-gradient(to top, #5055df, #6d68f3);
    box-shadow: 0 12 30 0 rgba(80, 85, 223, .37);
  }
  .celeste {
    background: linear-gradient(to top, #40a8f9, #5cb8ff);
    box-shadow: 0 12 30 0 rgba(86, 163, 222, .3);
  }
}

.servicio {
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;

  h4 {
    font-size: 1.5em;
  }

  p {
    margin-bottom: 20px;
    height: 194px;
    //height: 350px;
  }
}

.ondas {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.icono {
  float: right;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

