body {
  background: #fff;
}

.contenedor {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

div.header {
  height: 100vh;
  background: url('../img/fondo.jpg');
  background: linear-gradient(rgba(84, 93, 220, .9), rgba(96, 171, 245, .9)), url('../img/fondo.jpg') left no-repeat;
}
